[submodule ".bashrc.d/whereami"]
	path = .bashrc.d/whereami
	url = https://github.com/Grenadingue/whereami
[submodule ".bashrc.d/pacapt"]
	path = .bashrc.d/pacapt
	url = https://github.com/icy/pacapt
