[submodule ".baluchon.d/whereami"]
	path = .baluchon.d/whereami
	url = https://github.com/Grenadingue/whereami
[submodule ".baluchon.d/pacapt"]
	path = .baluchon.d/pacapt
	url = https://github.com/icy/pacapt
[submodule ".emacs.d/arduino-mode"]
	path = .emacs.d/arduino-mode
	url = https://github.com/bookest/arduino-mode.git
[submodule ".emacs.d/dockerfile-mode"]
	path = .emacs.d/dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode.git
[submodule ".emacs.d/s"]
	path = .emacs.d/s
	url = https://github.com/magnars/s.el.git
