[user]
	name = Nicolas Chauvin
	email = chauvin.nico@gmail.com

[color]
	diff = auto
        status = auto
        branch = auto
        interactive = auto
        ui = true
        pager = true

[core]
	editor = emacs -nw
